
body {
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
}
h1 {
    margin: 20px 0;
}
ul {
    text-align: left;
    list-style-type: disc;
    padding-left: 20px;
}
.section {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.step {
    text-align: left;
    margin: 20px;
}
img {
    max-width: 50%;
    height: auto;
}
