/*Pasta.css*/
body {
    text-align: center;
    margin: 0;
    font-family: fantasy, sans-serif;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
}
h1 {
    margin: 20px 0;
}
ul {
    text-align: left;
    list-style-type: disc;
    padding-left: 20px;
}


.section {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.step {
    text-align: left;
    margin: 20px;
}
img {
    max-width: 60%;
    height: auto;
}

/*Footer*/
.modern-footer {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}

.footer-content {
    max-width: 900px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
    font-size: 17px;
}




.main-page-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 5px;
    border: none;
    border-radius: 100px;
    background: rgb(147, 129, 77);
    color: #ffd277;        
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.4s;
    border: 2px solid rgba(255, 255, 255, 0.842);
}

.main-page-button:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.842);
}
