
    header {
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        padding: 2rem;
    }

    
    h1 {
        text-align: center;
        color:white;
        font-family: Copperplate, sans-serif;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    
    

    

    body {
        font-family: Copperplate, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('./recipes/Images/veggiessalad.jpg'); 
        background-size: cover;
        background-position: center;
    }

    .container-title {
        text-align: center;
        color: #577b59;
        font-family: Copperplate, sans-serif;
    }


    .container ul li {
        margin-bottom: 0px;
    }

    nav {
        background-color: rgba(248, 248, 248, 0.281); 
        padding: 20px;
    }







/*Container*/

.recipe-container {
    display: flex;
    justify-content: center; 
}

.image-container {
    text-align: center; 
}

.image-container img {
    display: block;
    margin: 0 auto; 
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container .caption {
    margin-top: 5px;
    color: #ff6600;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.container ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}


a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #ff6600;
}



/*Recipe Card*/

    .recipe-card {
        text-align: center;
        margin: 0 10px; 
        position: relative;
        overflow: hidden;
        width: 250px;
        border: 1px solid #ddd; 
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    .recipe-card:hover {
        transform: scale(1.05); 
    }

    .recipe-card a {
        text-decoration: none;
        color: inherit; 
    }

    .recipe-card p {
        color: #777;
        margin: 5px 0;
        font-size: 14px;
    }
    
    .recipe-card .info {
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 0 0 8px 8px;
        border-top: 1px solid #ddd;
    }
    
    .recipe-card .info p {
        margin: 5px 0;
        font-size: 12px;
        color: #777;
    }
    
    .recipe-card .info h4 {
        margin: 5px 0;
        font-size: 16px;
        color: #333;
    }


    .recipe-card img {
        height: auto;
        object-fit: cover;
        max-height: 150px;
        transition: transform 0.3s ease;
        border-bottom: 1px solid #ddd; 
    }
    








/*Footer*/
    footer {
        background-color: rgba(0, 0, 0, 0.8); 
        color: white;
        padding: 30px;
        text-align: center;
    }

   
    p {
      color:white;
      font-family: courier new, sans-serif;
      text-transform: uppercase;
    }

    input[type="email"] {
        padding: 10px 150px;
        width: 200px;
        border: 1px solid white;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
    }
    
    button.btn {
        padding: 10px 50px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition-duration: 0.4s;
        font-family: verdana, sans-serif;
        text-transform: uppercase;
    }
   
    button.btn:hover {
        background-color: #ff6600; 
        color: white;
        font-family: verdana, sans-serif;
    }

    .footer-title {
        color: #4caf50;
        font-family: Copperplate, sans-serif;
        font-size: 25px;
        margin: 0;
    } 
    
    .footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;        
        padding:0px;
        margin:0px;
    }

    .footer ul li {
        margin-bottom: 10px;
        list-style: none; 
    }

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px; 
    }
    
    .footer-logo .icon img {
        max-width: 50px; 
        margin-right: 10px; 
    }
    


/* Social Icons */

    .footer .fab {
        margin-top: 10px; 
    }
        .fab.fa-instagram.fa-2x,
        .fab.fa-twitter.fa-2x,
        .fab.fa-youtube.fa-2x,
    {
            color: white; 
            transition: color 0.3s;
        }

        .fab.fa-instagram.fa-2x:hover {
            color: #c32aa3;
        }

        .fab.fa-twitter.fa-2x:hover {
            color: #1da1f2;
        }

        .fab.fa-youtube.fa-2x:hover {
            color: #ff0000;
        }



        .social-icons {
            margin-top: 10px; 
            display: flex;
            justify-content: center;
            flex-wrap: wrap; 
        }
        
        .social-icons i {
            margin: 0 10px; 
            font-size: 1em;
            border: 2px solid #4caf50;
            border-radius: 50%;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            padding: 10px; 
            background-color: #333;
        }


        




/* Media Query for Smaller Screens */
    @media screen and (max-width: 768px) {
        header {
            padding: 1rem; 
        }
        .container {
            padding: 1rem; 
        }
    
        .recipe-card {
            margin: 0 5px; 
        }
    
        .container ul {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        }
    
        input[type="email"] {
            padding: 10px; 
            width: calc(100% - 20px);
            margin-bottom: 10px; 
        }
    
        button.btn {
            padding: 10px 30px; 
            width: 100%;
        }

        .footer {
            padding: 30px; 
        }

        .footer-logo {
            flex-direction: column; 
            text-align: center; 
            margin-bottom: 10px; 
        }

        .footer-logo .icon img {
            max-width: 80px; 
            margin-right: 0; 
            margin-bottom: 10px; 
        }

        .footer-title {
            font-size: 20px; 
        }

        input[type="email"] {
            padding: 10px 15px; 
            margin-bottom: 10px;
            width: calc(100% - 30px);
            display: block;
            margin: 0 auto 10px; 
        }

        button.btn {
            padding: 10px 20px; 
            margin-top: 10px;
            width: calc(100% - 30px);
            display: block; 
            margin: 0 auto;
        }
    

    }


  
    

    
        
   